In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Accidental_Drug_Related_Deaths_2012-2018.csv')
df.head()

,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,...,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,14-0273,06/28/2014 12:00:00 AM,DateReported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
1,13-0102,03/21/2013 12:00:00 AM,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,16-0165,03/13/2016 12:00:00 AM,DateofDeath,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN
3,16-0208,03/31/2016 12:00:00 AM,DateofDeath,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN
4,13-0052,02/13/2013 12:00:00 AM,DateofDeath,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"

In [3]:
df.isna().sum()

ID                        0
Date                      2
DateType                  2
Age                       3
Sex                       6
Race                     13
ResidenceCity           173
ResidenceCounty         797
ResidenceState         1549
DeathCity                 5
DeathCounty            1100
Location                 24
LocationifOther        4515
DescriptionofInjury     780
InjuryPlace              66
InjuryCity             1756
InjuryCounty           2741
InjuryState            3681
COD                       0
OtherSignifican        4936
Heroin                 2576
Cocaine                3584
Fentanyl               2873
FentanylAnalogue       4716
Oxycodone              4498
Oxymorphone            4997
Ethanol                3858
Hydrocodone            4987
Benzodiazepine         3762
Methadone              4631
Amphet                 4946
Tramad                 4975
Morphine_NotHeroin     5063
Hydromorphone          5080
Other                  4670
OpiateNOS              5017
AnyOpioid              2639
MannerofDeath            10
DeathCityGeo              0
ResidenceCityGeo         93
InjuryCityGeo            78
dtype: int64

In [4]:
df.columns

Index(['ID', 'Date', 'DateType', 'Age', 'Sex', 'Race', 'ResidenceCity',
       'ResidenceCounty', 'ResidenceState', 'DeathCity', 'DeathCounty',
       'Location', 'LocationifOther', 'DescriptionofInjury', 'InjuryPlace',
       'InjuryCity', 'InjuryCounty', 'InjuryState', 'COD', 'OtherSignifican',
       'Heroin', 'Cocaine', 'Fentanyl', 'FentanylAnalogue', 'Oxycodone',
       'Oxymorphone', 'Ethanol', 'Hydrocodone', 'Benzodiazepine', 'Methadone',
       'Amphet', 'Tramad', 'Morphine_NotHeroin', 'Hydromorphone', 'Other',
       'OpiateNOS', 'AnyOpioid', 'MannerofDeath', 'DeathCityGeo',
       'ResidenceCityGeo', 'InjuryCityGeo'],
      dtype='object')

In [5]:
data = df[['ID', 'Date', 'DateType', 'Age', 'Sex', 'Race', 'DeathCity', 'DeathCounty',
           'COD', 'Heroin', 'Cocaine', 'Fentanyl', 'FentanylAnalogue', 'Oxycodone',
           'Oxymorphone', 'Ethanol', 'Hydrocodone', 'Benzodiazepine', 'Methadone',
           'Amphet', 'Tramad', 'Morphine_NotHeroin', 'Hydromorphone', 'Other',
           'OpiateNOS', 'AnyOpioid', 'MannerofDeath']]
data.head()

,ID,Date,DateType,Age,Sex,Race,DeathCity,DeathCounty,COD,Heroin,...,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath
0,14-0273,06/28/2014 12:00:00 AM,DateReported,NaN,NaN,NaN,NaN,NaN,"Acute fent, hydrocod, benzodiazepine",NaN,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
1,13-0102,03/21/2013 12:00:00 AM,DateofDeath,48.0,Male,Black,NORWALK,FAIRFIELD,Cocaine Intoxication,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
2,16-0165,03/13/2016 12:00:00 AM,DateofDeath,30.0,Female,White,DANBURY,NaN,Acute Heroin and Cocaine Intoxication,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
3,16-0208,03/31/2016 12:00:00 AM,DateofDeath,23.0,Male,White,GREENWICH,NaN,Acute Fentanyl and Morphine Intoxication,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4,13-0052,02/13/2013 12:00:00 AM,DateofDeath,22.0,Male,"Asian, Other",GREENWICH,FAIRFIELD,Fentanyl Intoxication,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident

In [6]:
for c in data:
    print(data[c].unique())

['14-0273' '13-0102' '16-0165' ... '18-0646' '14-0124' '16-0637']
['06/28/2014 12:00:00 AM' '03/21/2013 12:00:00 AM'
 '03/13/2016 12:00:00 AM' ... '12/26/2016 12:00:00 AM'
 '12/02/2017 12:00:00 AM' '09/15/2016 12:00:00 AM']
['DateReported' 'DateofDeath' nan]
[nan 48. 30. 23. 22. 21. 40. 50. 26. 49. 29. 45. 42. 54. 32. 47. 39. 27.
 34. 25. 51. 35. 43. 55. 56. 28. 67. 36. 52. 61. 53. 41. 31. 57. 24. 37.
 38. 58. 59. 46. 64. 60. 44. 33. 20. 19. 66. 63. 62. 65. 71. 73. 68. 69.
 75. 72. 18. 15. 70. 17. 74. 84. 14. 87. 81. 16.]
[nan 'Male' 'Female' 'Unknown']
[nan 'Black' 'White' 'Asian, Other' 'Hispanic, White' 'Asian Indian'
 'Hispanic, Black' 'Unknown' 'Other' 'Chinese' 'Native American, Other'
 'Hawaiian']
[nan 'NORWALK' 'DANBURY' 'GREENWICH' 'BRISTOL' 'WEST HARTFORD' 'NEW HAVEN'
 'EAST HARTFORD' 'MONTVILLE' 'STRATFORD' 'HARTFORD' 'WALLINGFORD'
 'MIDDLETOWN' 'WINDHAM' 'BRIDGEPORT' 'DERBY' 'COS COB' 'MERIDEN' 'ENFIELD'
 'TORRINGTON' 'WATERBURY' 'MASHANTUCKET' 'MILFORD' 'SOMERS' 'STAMFORD'
 'NEW BRITAIN' 'WILLIMANTIC' 'WATERTOWN' 'BALTIC' 'RIDGEFIELD'
 'NEW LONDON' 'BROOKFIELD' 'SHELTON' 'NORWICH' 'NAUGATUCK' 'VERNON'
 'FAIRFIELD' 'EAST HAMPTON' 'SHARON' 'MONROE' 'WINCHESTER' 'BRANFORD'
 'MANCHESTER' 'WOLCOTT' 'WEST SUFFIELD' 'FARMINGTON' 'NORTH BRANFORD'
 'NEW MILFORD' 'STONINGTON' 'PRESTON' 'GROTON' 'SOUTHINGTON'
 'SOUTH WINDSOR' 'JEWETT CITY' 'EAST WINDSOR' 'OLD SAYBROOK' 'BROAD BROOK'
 'PORTLAND' 'HEBRON' 'DARIEN' 'LEDYARD' 'TRUMBULL' 'BURLINGTON'
 'BLOOMFIELD' 'TERRYVILLE' 'STAFFORD SPRINGS' 'WEST HAVEN' 'THOMPSON'
 'OXFORD' 'DANIELSON' 'POMFRET' 'MARLBOROUGH' 'OAKVILLE' 'NEWTOWN'
 'ROCKY HILL' 'EAST HAVEN' 'HAMDEN' 'AVON' 'SEYMOUR' 'PLAINVILLE'
 'COLCHESTER' 'SOUTHBURY' 'STAFFORD' 'ANSONIA' 'MOOSUP' 'KILLINGLY'
 'BEACON FALLS' 'CLINTON' 'OLD LYME' 'SANDY HOOK' 'BROOKLYN' 'UNCASVILLE'
 'WINDSOR' 'WOODBURY' 'FRANKLIN' 'SALISBURY' 'WASHINGTON' 'BRIDGEWATER'
 'BETHEL' 'BANTAM' 'MYSTIC' 'WILTON' 'WINDSOR LOCKS' 'LEBANON'
 'GLASTONBURY' 'QUAKER HILL' 'WOODSTOCK' 'COVENTRY' 'COLUMBIA' 'BERLIN'
 'PUTNAM' 'SALEM' 'ESSEX' 'PLAINFIELD' 'WETHERSFIELD' 'CANTON' 'DURHAM'
 'CANTERBURY' 'SUFFIELD' 'SIMSBURY' 'NORTH CANAAN' 'WATERFORD'
 'KILLINGWORTH' 'CROMWELL' 'WILLINGTON' 'MIDDLEFIELD' 'VOLUNTOWN'
 'THOMASTON' 'NEWINGTON' 'MORRIS' 'ASHFORD' 'DEEP RIVER' 'CENTRAL VILLAGE'
 'EAST LYME' 'MADISON' 'UNIONVILLE' 'WINSTED' 'HARWINTON' 'WOODBRIDGE'
 'WESTBROOK' 'BETHANY' 'NIANTIC' 'CHESHIRE' 'QUINEBAUG' 'TOLLAND'
 'MANSFIELD' 'WAUREGAN' 'PAWCATUCK' 'GRISWOLD' 'STORRS' 'VERNON-ROCKVILLE'
 'SHERMAN' 'LISBON' 'DAYVILLE' 'EAST GRANBY' 'REDDING' 'GALES FERRY'
 'PLYMOUTH' 'NORTH HAVEN' 'N HAVEN' 'ELLINGTON' 'MIDDLEBURY'
 'CORNWALL BRIDGE' 'HANOVER' 'STERLING' 'NORTH GROSVENORDALE'
 'NEW HARTFORD' 'BOLTON' 'HAMPTON' 'BETHLEHEM' 'TARIFFVILLE' 'PROSPECT'
 'GUILFORD' 'NEW FAIRFIELD' 'NORTH WINDAM' 'OAKDALE' 'EASTON'
 'EAST HADDAM' 'GROTON LONG POINT' 'BARKHAMSTED' 'HIGGANUM' 'NO HAVEN'
 'TAFTVILLE' 'STAFFORD SPGS' 'IVORYTON' 'LITCHFIELD' 'PLANTSVILLE'
 'ORANGE' 'CHAPLIN' 'NORTH STONINGTON' 'SPRAGUE' 'ANDOVER' 'EAST HARTLAND'
 'CHESTER' 'WESTPORT' 'W HAVEN' 'WESTON' 'ROCKVILLE' 'MOODUS'
 'NORTH GRANBY' 'EAST CANAAN' 'NORTHFORD' 'GRANBY' 'NEW CANAAN'
 'WEST STAFFORD' 'ONECO' 'NEW PRESTON' 'WEATOGUE' 'WARREN' 'HADDAM'
 'EASTFORD' 'KENT' 'BOZRAH' 'S GLASTONBURY' 'NORTH WINDHAM' 'BAKERSVILLE'
 'AMSTON' 'GOSHEN' 'NEW CANNAN' 'EAST WOODSTOCK' 'ROGERS' '06340'
 'NORFOLK']
[nan 'FAIRFIELD' 'HARTFORD' 'NEW HAVEN' 'NEW LONDON' 'LITCHFIELD'
 'MIDDLESEX' 'WINDHAM' 'TOLLAND' 'USA']
['Acute fent, hydrocod, benzodiazepine' 'Cocaine Intoxication'
 'Acute Heroin and Cocaine Intoxication' ...
 'Acute Intoxication due to the Combined Effects of Ethanol, Diazepam, and Chlordiazepoxide'
 'Multidrug Toxicity Including Heroin, Alprazolam, and Clonazepam'
 'Multidrug Toxicity Including Heroin, Fentanyl, 4-ANPP, para-Fluoroisobutyrylfentanyl, and Tramadol']
[nan 'Y']
[nan 'Y']
['Y' nan 'Y-A' 'Y POPS' 'Y (PTCH)']
[nan 'Y']
[nan 'Y']
[nan 'Y']
[nan 'Y']
['Y' nan]
['Y' nan]
[nan 'Y']
[nan 'Y']
[nan 'Y']
[nan 'Y' 'YES' 'STOLE MEDS' 'NO RX BUT STRAWS' 'PCP NEG']
[nan 'Y']
[nan 'Bupren' 'lsd, hydromorph' 'opiate' 'BUPREN' 'HYDROMORPH' 'OTHERS'
 'pcp' 'PCP' 'ketamine' 'meperidine' 'opiate screen' 'MDMA' 'COD' 'PAROX'
 'carfentanil' 'hydromorph' 'DUSTER' 'DIPHENHYDRAMINE' 'Buprenor'
 'HYDRO MORPH' 'BUPRE' 'MORPHINE' 'morphine' 'MORPH' 'hyd-morph' 'U47700'
 'DOX, DIPHEN' 'opiates' 'Buprenor, carfentanil' 'mdma' 'SERT'
 'TAPENTADOL' '4-anpp' 'methoxyPCP' 'N-ETHYL-PENTYLONE' 'PCP, HYDROMORPH'
 'Mirtagynine' 'UK' 'HYDROMORP' 'U-47700' 'difluro'
 'DIPHENHYDRAMINE, ZOLPIDEM' '4-ANPP' 'BUPRENORPHINE' 'Difluro' 'H-MORPH'
 'BUPRENORP' 'U-47700 synthetic opioid' 'OPIATE' 'Buprnor' 'morphine RX'
 'opioid' 'OPIOID NOS' 'BUPRENOR' 'CATHINONE' 'LOPERAMIDE' 'codeine' 'GHB'
 'hydromorp' 'BUTALBITAL' 'Morphine' 'PCP, N-ETHYL-PENTYLONE'
 'Bupren, HEXADRONE' 'bupren' 'HYDR-MOR' 'pos 6-mam' 'Rx morphine'
 'Bupreno' 'MEPERIDINE' 'others' 'morphine no 6mam' 'U-47700, carfentanil'
 'uk' 'mitragine' 'BUPRENORPHONE' 'MDMA, PCP' 'DIPHENHY' 'OPIATE IN HOSP?'
 'Opiate screen' 'BUPRENO' 'HYDROMORPH, BUPRENOR' 'QUIET' 'HYDROM'
 'difluror' 'KET' 'BUPRENORPH' 'bath salt' 'Mitragynine' 'Hydromorph'
 'MORPHINE/HYDROMORPH' 'buprenor' '2-A' 'pcp. Bupren' 'tapentadol'
 'buprop' 'TOPIRAMATE' 'KETAMINE' 'snorted' 'HYDRMORP'
 'MDMA, N-ETHYL-PENTYLONE' 'BUTALB' 'BUPREN, DIFLUORO' 'zolpidem'
 'Difluor' 'Buprenophine' 'MORPHIINE' 'DIPHENH' 'CODEINE' 'Duster'
 'PCP, MORPHINE NOS' 'Doxy, phenobarb' 'PCP, Buprenor' 'morphin'
 'DIFLOURO' 'DIFLURO' 'morphine/cod' 'MORPHINE RX' 'Codeine'
 'MORPHINE, HYDROMORPH' 'MORPH NOS' 'difluoroeth' 'MORPH/COD' 'duster'
 'morphine, no rx in pmp' 'phenobarb' 'HYROMORPH' 'ZOLP' 'Buprno'
 'mORPHINE' 'Opiate' 'diphen, chlorphen' 'HYDMORPH' 'PSEUDO' 'MORPH PCP']
[nan 'Y']
[nan 'Y' 'N']
['Accident' 'accident' nan 'Pending' 'ACCIDENT' 'Natural']

In [7]:
data.dtypes

ID                     object
Date                   object
DateType               object
Age                   float64
Sex                    object
Race                   object
DeathCity              object
DeathCounty            object
COD                    object
Heroin                 object
Cocaine                object
Fentanyl               object
FentanylAnalogue       object
Oxycodone              object
Oxymorphone            object
Ethanol                object
Hydrocodone            object
Benzodiazepine         object
Methadone              object
Amphet                 object
Tramad                 object
Morphine_NotHeroin     object
Hydromorphone          object
Other                  object
OpiateNOS              object
AnyOpioid              object
MannerofDeath          object
dtype: object

In [8]:
data["Date"] = pd.to_datetime(data["Date"])
data["Date"]

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      2014-06-28
1      2013-03-21
2      2016-03-13
3      2016-03-31
4      2013-02-13
          ...
5100   2015-09-08
5101   2017-07-22
5102   2018-08-14
5103   2014-03-16
5104   2016-09-15
Name: Date, Length: 5105, dtype: datetime64[ns]

In [9]:
data['MannerofDeath'].unique()

array(['Accident', 'accident', nan, 'Pending', 'ACCIDENT', 'Natural'],
      dtype=object)

In [10]:
data['MannerofDeath'] = data['MannerofDeath'].str.lower()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
data['MannerofDeath'].unique()

array(['accident', nan, 'pending', 'natural'], dtype=object)

In [12]:
data['MannerofDeath'] = data['MannerofDeath'].replace(np.nan, 'unknown')

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
data['MannerofDeath'].unique()

array(['accident', 'unknown', 'pending', 'natural'], dtype=object)

In [14]:
data.columns

Index(['ID', 'Date', 'DateType', 'Age', 'Sex', 'Race', 'DeathCity',
       'DeathCounty', 'COD', 'Heroin', 'Cocaine', 'Fentanyl',
       'FentanylAnalogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
       'Morphine_NotHeroin', 'Hydromorphone', 'Other', 'OpiateNOS',
       'AnyOpioid', 'MannerofDeath'],
      dtype='object')

In [15]:
data['Age'].unique()

array([nan, 48., 30., 23., 22., 21., 40., 50., 26., 49., 29., 45., 42.,
       54., 32., 47., 39., 27., 34., 25., 51., 35., 43., 55., 56., 28.,
       67., 36., 52., 61., 53., 41., 31., 57., 24., 37., 38., 58., 59.,
       46., 64., 60., 44., 33., 20., 19., 66., 63., 62., 65., 71., 73.,
       68., 69., 75., 72., 18., 15., 70., 17., 74., 84., 14., 87., 81.,
       16.])

In [16]:
data['Age'] = data['Age'].replace(np.nan, 'unknown')

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
data['Age'].unique()

array(['unknown', 48.0, 30.0, 23.0, 22.0, 21.0, 40.0, 50.0, 26.0, 49.0,
       29.0, 45.0, 42.0, 54.0, 32.0, 47.0, 39.0, 27.0, 34.0, 25.0, 51.0,
       35.0, 43.0, 55.0, 56.0, 28.0, 67.0, 36.0, 52.0, 61.0, 53.0, 41.0,
       31.0, 57.0, 24.0, 37.0, 38.0, 58.0, 59.0, 46.0, 64.0, 60.0, 44.0,
       33.0, 20.0, 19.0, 66.0, 63.0, 62.0, 65.0, 71.0, 73.0, 68.0, 69.0,
       75.0, 72.0, 18.0, 15.0, 70.0, 17.0, 74.0, 84.0, 14.0, 87.0, 81.0,
       16.0], dtype=object)

In [18]:
data['Sex'].unique()

array([nan, 'Male', 'Female', 'Unknown'], dtype=object)

In [19]:
data['Sex'] = data['Sex'].replace(np.nan, 'Unknown')

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
data['Sex'] = data['Sex'].str.lower()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
data['Sex'].unique()

array(['unknown', 'male', 'female'], dtype=object)

In [22]:
data['Race'].unique()

array([nan, 'Black', 'White', 'Asian, Other', 'Hispanic, White',
       'Asian Indian', 'Hispanic, Black', 'Unknown', 'Other', 'Chinese',
       'Native American, Other', 'Hawaiian'], dtype=object)

In [23]:
data['Race'] = data['Race'].replace(np.nan, 'Unknown')
data['Race'] = data['Race'].str.lower()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
data['Race'].unique()

array(['unknown', 'black', 'white', 'asian, other', 'hispanic, white',
       'asian indian', 'hispanic, black', 'other', 'chinese',
       'native american, other', 'hawaiian'], dtype=object)

In [25]:
data['DeathCity'].unique()

array([nan, 'NORWALK', 'DANBURY', 'GREENWICH', 'BRISTOL', 'WEST HARTFORD',
       'NEW HAVEN', 'EAST HARTFORD', 'MONTVILLE', 'STRATFORD', 'HARTFORD',
       'WALLINGFORD', 'MIDDLETOWN', 'WINDHAM', 'BRIDGEPORT', 'DERBY',
       'COS COB', 'MERIDEN', 'ENFIELD', 'TORRINGTON', 'WATERBURY',
       'MASHANTUCKET', 'MILFORD', 'SOMERS', 'STAMFORD', 'NEW BRITAIN',
       'WILLIMANTIC', 'WATERTOWN', 'BALTIC', 'RIDGEFIELD', 'NEW LONDON',
       'BROOKFIELD', 'SHELTON', 'NORWICH', 'NAUGATUCK', 'VERNON',
       'FAIRFIELD', 'EAST HAMPTON', 'SHARON', 'MONROE', 'WINCHESTER',
       'BRANFORD', 'MANCHESTER', 'WOLCOTT', 'WEST SUFFIELD', 'FARMINGTON',
       'NORTH BRANFORD', 'NEW MILFORD', 'STONINGTON', 'PRESTON', 'GROTON',
       'SOUTHINGTON', 'SOUTH WINDSOR', 'JEWETT CITY', 'EAST WINDSOR',
       'OLD SAYBROOK', 'BROAD BROOK', 'PORTLAND', 'HEBRON', 'DARIEN',
       'LEDYARD', 'TRUMBULL', 'BURLINGTON', 'BLOOMFIELD', 'TERRYVILLE',
       'STAFFORD SPRINGS', 'WEST HAVEN', 'THOMPSON', 'OXFORD',
       'DANIELSON', 'POMFRET', 'MARLBOROUGH', 'OAKVILLE', 'NEWTOWN',
       'ROCKY HILL', 'EAST HAVEN', 'HAMDEN', 'AVON', 'SEYMOUR',
       'PLAINVILLE', 'COLCHESTER', 'SOUTHBURY', 'STAFFORD', 'ANSONIA',
       'MOOSUP', 'KILLINGLY', 'BEACON FALLS', 'CLINTON', 'OLD LYME',
       'SANDY HOOK', 'BROOKLYN', 'UNCASVILLE', 'WINDSOR', 'WOODBURY',
       'FRANKLIN', 'SALISBURY', 'WASHINGTON', 'BRIDGEWATER', 'BETHEL',
       'BANTAM', 'MYSTIC', 'WILTON', 'WINDSOR LOCKS', 'LEBANON',
       'GLASTONBURY', 'QUAKER HILL', 'WOODSTOCK', 'COVENTRY', 'COLUMBIA',
       'BERLIN', 'PUTNAM', 'SALEM', 'ESSEX', 'PLAINFIELD', 'WETHERSFIELD',
       'CANTON', 'DURHAM', 'CANTERBURY', 'SUFFIELD', 'SIMSBURY',
       'NORTH CANAAN', 'WATERFORD', 'KILLINGWORTH', 'CROMWELL',
       'WILLINGTON', 'MIDDLEFIELD', 'VOLUNTOWN', 'THOMASTON', 'NEWINGTON',
       'MORRIS', 'ASHFORD', 'DEEP RIVER', 'CENTRAL VILLAGE', 'EAST LYME',
       'MADISON', 'UNIONVILLE', 'WINSTED', 'HARWINTON', 'WOODBRIDGE',
       'WESTBROOK', 'BETHANY', 'NIANTIC', 'CHESHIRE', 'QUINEBAUG',
       'TOLLAND', 'MANSFIELD', 'WAUREGAN', 'PAWCATUCK', 'GRISWOLD',
       'STORRS', 'VERNON-ROCKVILLE', 'SHERMAN', 'LISBON', 'DAYVILLE',
       'EAST GRANBY', 'REDDING', 'GALES FERRY', 'PLYMOUTH', 'NORTH HAVEN',
       'N HAVEN', 'ELLINGTON', 'MIDDLEBURY', 'CORNWALL BRIDGE', 'HANOVER',
       'STERLING', 'NORTH GROSVENORDALE', 'NEW HARTFORD', 'BOLTON',
       'HAMPTON', 'BETHLEHEM', 'TARIFFVILLE', 'PROSPECT', 'GUILFORD',
       'NEW FAIRFIELD', 'NORTH WINDAM', 'OAKDALE', 'EASTON',
       'EAST HADDAM', 'GROTON LONG POINT', 'BARKHAMSTED', 'HIGGANUM',
       'NO HAVEN', 'TAFTVILLE', 'STAFFORD SPGS', 'IVORYTON', 'LITCHFIELD',
       'PLANTSVILLE', 'ORANGE', 'CHAPLIN', 'NORTH STONINGTON', 'SPRAGUE',
       'ANDOVER', 'EAST HARTLAND', 'CHESTER', 'WESTPORT', 'W HAVEN',
       'WESTON', 'ROCKVILLE', 'MOODUS', 'NORTH GRANBY', 'EAST CANAAN',
       'NORTHFORD', 'GRANBY', 'NEW CANAAN', 'WEST STAFFORD', 'ONECO',
       'NEW PRESTON', 'WEATOGUE', 'WARREN', 'HADDAM', 'EASTFORD', 'KENT',
       'BOZRAH', 'S GLASTONBURY', 'NORTH WINDHAM', 'BAKERSVILLE',
       'AMSTON', 'GOSHEN', 'NEW CANNAN', 'EAST WOODSTOCK', 'ROGERS',
       '06340', 'NORFOLK'], dtype=object)

In [26]:
data['DeathCity'] = data['DeathCity'].replace(np.nan, 'Unknown')
data['DeathCity'] = data['DeathCity'].str.lower()
data['DeathCity'].unique()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['unknown', 'norwalk', 'danbury', 'greenwich', 'bristol',
       'west hartford', 'new haven', 'east hartford', 'montville',
       'stratford', 'hartford', 'wallingford', 'middletown', 'windham',
       'bridgeport', 'derby', 'cos cob', 'meriden', 'enfield',
       'torrington', 'waterbury', 'mashantucket', 'milford', 'somers',
       'stamford', 'new britain', 'willimantic', 'watertown', 'baltic',
       'ridgefield', 'new london', 'brookfield', 'shelton', 'norwich',
       'naugatuck', 'vernon', 'fairfield', 'east hampton', 'sharon',
       'monroe', 'winchester', 'branford', 'manchester', 'wolcott',
       'west suffield', 'farmington', 'north branford', 'new milford',
       'stonington', 'preston', 'groton', 'southington', 'south windsor',
       'jewett city', 'east windsor', 'old saybrook', 'broad brook',
       'portland', 'hebron', 'darien', 'ledyard', 'trumbull',
       'burlington', 'bloomfield', 'terryville', 'stafford springs',
       'west haven', 'thompson', 'oxford', 'danielson', 'pomfret',
       'marlborough', 'oakville', 'newtown', 'rocky hill', 'east haven',
       'hamden', 'avon', 'seymour', 'plainville', 'colchester',
       'southbury', 'stafford', 'ansonia', 'moosup', 'killingly',
       'beacon falls', 'clinton', 'old lyme', 'sandy hook', 'brooklyn',
       'uncasville', 'windsor', 'woodbury', 'franklin', 'salisbury',
       'washington', 'bridgewater', 'bethel', 'bantam', 'mystic',
       'wilton', 'windsor locks', 'lebanon', 'glastonbury', 'quaker hill',
       'woodstock', 'coventry', 'columbia', 'berlin', 'putnam', 'salem',
       'essex', 'plainfield', 'wethersfield', 'canton', 'durham',
       'canterbury', 'suffield', 'simsbury', 'north canaan', 'waterford',
       'killingworth', 'cromwell', 'willington', 'middlefield',
       'voluntown', 'thomaston', 'newington', 'morris', 'ashford',
       'deep river', 'central village', 'east lyme', 'madison',
       'unionville', 'winsted', 'harwinton', 'woodbridge', 'westbrook',
       'bethany', 'niantic', 'cheshire', 'quinebaug', 'tolland',
       'mansfield', 'wauregan', 'pawcatuck', 'griswold', 'storrs',
       'vernon-rockville', 'sherman', 'lisbon', 'dayville', 'east granby',
       'redding', 'gales ferry', 'plymouth', 'north haven', 'n haven',
       'ellington', 'middlebury', 'cornwall bridge', 'hanover',
       'sterling', 'north grosvenordale', 'new hartford', 'bolton',
       'hampton', 'bethlehem', 'tariffville', 'prospect', 'guilford',
       'new fairfield', 'north windam', 'oakdale', 'easton',
       'east haddam', 'groton long point', 'barkhamsted', 'higganum',
       'no haven', 'taftville', 'stafford spgs', 'ivoryton', 'litchfield',
       'plantsville', 'orange', 'chaplin', 'north stonington', 'sprague',
       'andover', 'east hartland', 'chester', 'westport', 'w haven',
       'weston', 'rockville', 'moodus', 'north granby', 'east canaan',
       'northford', 'granby', 'new canaan', 'west stafford', 'oneco',
       'new preston', 'weatogue', 'warren', 'haddam', 'eastford', 'kent',
       'bozrah', 's glastonbury', 'north windham', 'bakersville',
       'amston', 'goshen', 'new cannan', 'east woodstock', 'rogers',
       '06340', 'norfolk'], dtype=object)

In [27]:
data['DeathCounty'].unique()

array([nan, 'FAIRFIELD', 'HARTFORD', 'NEW HAVEN', 'NEW LONDON',
       'LITCHFIELD', 'MIDDLESEX', 'WINDHAM', 'TOLLAND', 'USA'],
      dtype=object)

In [28]:
data['DeathCounty'] = data['DeathCounty'].replace(np.nan, 'Unknown')
data['DeathCounty'] = data['DeathCounty'].str.lower()
data['DeathCounty'].unique()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['unknown', 'fairfield', 'hartford', 'new haven', 'new london',
       'litchfield', 'middlesex', 'windham', 'tolland', 'usa'],
      dtype=object)

In [29]:
data.columns

Index(['ID', 'Date', 'DateType', 'Age', 'Sex', 'Race', 'DeathCity',
       'DeathCounty', 'COD', 'Heroin', 'Cocaine', 'Fentanyl',
       'FentanylAnalogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
       'Morphine_NotHeroin', 'Hydromorphone', 'Other', 'OpiateNOS',
       'AnyOpioid', 'MannerofDeath'],
      dtype='object')

In [30]:
data['COD'].unique()

array(['Acute fent, hydrocod, benzodiazepine', 'Cocaine Intoxication',
       'Acute Heroin and Cocaine Intoxication', ...,
       'Acute Intoxication due to the Combined Effects of Ethanol, Diazepam, and Chlordiazepoxide',
       'Multidrug Toxicity Including Heroin, Alprazolam, and Clonazepam',
       'Multidrug Toxicity Including Heroin, Fentanyl, 4-ANPP, para-Fluoroisobutyrylfentanyl, and Tramadol'],
      dtype=object)

In [31]:
data['COD'] = data['COD'].replace(np.nan, 'Unknown')
data['COD'] = data['COD'].str.lower()
data['COD'].unique()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['acute fent, hydrocod, benzodiazepine', 'cocaine intoxication',
       'acute heroin and cocaine intoxication', ...,
       'acute intoxication due to the combined effects of ethanol, diazepam, and chlordiazepoxide',
       'multidrug toxicity including heroin, alprazolam, and clonazepam',
       'multidrug toxicity including heroin, fentanyl, 4-anpp, para-fluoroisobutyrylfentanyl, and tramadol'],
      dtype=object)

In [32]:
data['Heroin'].unique()

array([nan, 'Y'], dtype=object)

In [33]:
data['Heroin'] = data['Heroin'].replace(np.nan, 'No')

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
data['Heroin'] = data['Heroin'].replace('Y', 'Yes')

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [35]:
data['Heroin'].unique()

array(['No', 'Yes'], dtype=object)

In [36]:
data['Cocaine'] = data['Cocaine'].replace(np.nan, 'No')
data['Cocaine'] = data['Cocaine'].replace('Y', 'Yes')
data['Cocaine'].unique()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['No', 'Yes'], dtype=object)

In [37]:
data['Fentanyl'] = data['Fentanyl'].replace(np.nan, 'No')
data['Fentanyl'] = data['Fentanyl'].replace('Y', 'Yes')
data['Fentanyl'].unique()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['Yes', 'No', 'Y-A', 'Y POPS', 'Y (PTCH)'], dtype=object)

In [38]:
for i in data[['FentanylAnalogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
               'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
               'Morphine_NotHeroin', 'Hydromorphone']]:
    data[i] = data[i].replace(np.nan, 'No')
    data[i] = data[i].replace('Y', 'Yes')
    data[i].unique()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [39]:
data.columns

Index(['ID', 'Date', 'DateType', 'Age', 'Sex', 'Race', 'DeathCity',
       'DeathCounty', 'COD', 'Heroin', 'Cocaine', 'Fentanyl',
       'FentanylAnalogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
       'Morphine_NotHeroin', 'Hydromorphone', 'Other', 'OpiateNOS',
       'AnyOpioid', 'MannerofDeath'],
      dtype='object')

In [40]:
data['Other'] = data['Other'].str.lower()
data['Other'] = data['Other'].replace(np.nan, 'unknown')
data["Other"].unique()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['unknown', 'bupren', 'lsd, hydromorph', 'opiate', 'hydromorph',
       'others', 'pcp', 'ketamine', 'meperidine', 'opiate screen', 'mdma',
       'cod', 'parox', 'carfentanil', 'duster', 'diphenhydramine',
       'buprenor', 'hydro morph', 'bupre', 'morphine', 'morph',
       'hyd-morph', 'u47700', 'dox, diphen', 'opiates',
       'buprenor, carfentanil', 'sert', 'tapentadol', '4-anpp',
       'methoxypcp', 'n-ethyl-pentylone', 'pcp, hydromorph',
       'mirtagynine', 'uk', 'hydromorp', 'u-47700', 'difluro',
       'diphenhydramine, zolpidem', 'buprenorphine', 'h-morph',
       'buprenorp', 'u-47700 synthetic opioid', 'buprnor', 'morphine rx',
       'opioid', 'opioid nos', 'cathinone', 'loperamide', 'codeine',
       'ghb', 'butalbital', 'pcp, n-ethyl-pentylone', 'bupren, hexadrone',
       'hydr-mor', 'pos 6-mam', 'rx morphine', 'bupreno',
       'morphine no 6mam', 'u-47700, carfentanil', 'mitragine',
       'buprenorphone', 'mdma, pcp', 'diphenhy', 'opiate in hosp?',
       'hydromorph, buprenor', 'quiet', 'hydrom', 'difluror', 'ket',
       'buprenorph', 'bath salt', 'mitragynine', 'morphine/hydromorph',
       '2-a', 'pcp. bupren', 'buprop', 'topiramate', 'snorted',
       'hydrmorp', 'mdma, n-ethyl-pentylone', 'butalb',
       'bupren, difluoro', 'zolpidem', 'difluor', 'buprenophine',
       'morphiine', 'diphenh', 'pcp, morphine nos', 'doxy, phenobarb',
       'pcp, buprenor', 'morphin', 'diflouro', 'morphine/cod',
       'morphine, hydromorph', 'morph nos', 'difluoroeth', 'morph/cod',
       'morphine, no rx in pmp', 'phenobarb', 'hyromorph', 'zolp',
       'buprno', 'diphen, chlorphen', 'hydmorph', 'pseudo', 'morph pcp'],
      dtype=object)

In [41]:
data['OpiateNOS'] = data['OpiateNOS'].replace(np.nan, 'No')
data['OpiateNOS'] = data['OpiateNOS'].replace('Y', 'Yes')
data['OpiateNOS'].unique()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['No', 'Yes'], dtype=object)

In [42]:
data['AnyOpioid'].unique()

array([nan, 'Y', 'N'], dtype=object)

In [43]:
data['AnyOpioid'] = data['AnyOpioid'].replace(np.nan, 'Unknown')
data['AnyOpioid'] = data['AnyOpioid'].replace('Y', 'Yes')
data['AnyOpioid'] = data['AnyOpioid'].replace('N', 'No')
data['AnyOpioid'].unique()

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sznik\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

array(['Unknown', 'Yes', 'No'], dtype=object)

In [44]:
data.columns

Index(['ID', 'Date', 'DateType', 'Age', 'Sex', 'Race', 'DeathCity',
       'DeathCounty', 'COD', 'Heroin', 'Cocaine', 'Fentanyl',
       'FentanylAnalogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
       'Morphine_NotHeroin', 'Hydromorphone', 'Other', 'OpiateNOS',
       'AnyOpioid', 'MannerofDeath'],
      dtype='object')

In [45]:
data['MannerofDeath'].unique()

array(['accident', 'unknown', 'pending', 'natural'], dtype=object)

In [46]:
data.isna().sum()

ID                    0
Date                  2
DateType              2
Age                   0
Sex                   0
Race                  0
DeathCity             0
DeathCounty           0
COD                   0
Heroin                0
Cocaine               0
Fentanyl              0
FentanylAnalogue      0
Oxycodone             0
Oxymorphone           0
Ethanol               0
Hydrocodone           0
Benzodiazepine        0
Methadone             0
Amphet                0
Tramad                0
Morphine_NotHeroin    0
Hydromorphone         0
Other                 0
OpiateNOS             0
AnyOpioid             0
MannerofDeath         0
dtype: int64

In [47]:
data['Age'].unique()

array(['unknown', 48.0, 30.0, 23.0, 22.0, 21.0, 40.0, 50.0, 26.0, 49.0,
       29.0, 45.0, 42.0, 54.0, 32.0, 47.0, 39.0, 27.0, 34.0, 25.0, 51.0,
       35.0, 43.0, 55.0, 56.0, 28.0, 67.0, 36.0, 52.0, 61.0, 53.0, 41.0,
       31.0, 57.0, 24.0, 37.0, 38.0, 58.0, 59.0, 46.0, 64.0, 60.0, 44.0,
       33.0, 20.0, 19.0, 66.0, 63.0, 62.0, 65.0, 71.0, 73.0, 68.0, 69.0,
       75.0, 72.0, 18.0, 15.0, 70.0, 17.0, 74.0, 84.0, 14.0, 87.0, 81.0,
       16.0], dtype=object)

In [48]:
data = data.dropna()

In [49]:
data.isna().sum()

ID                    0
Date                  0
DateType              0
Age                   0
Sex                   0
Race                  0
DeathCity             0
DeathCounty           0
COD                   0
Heroin                0
Cocaine               0
Fentanyl              0
FentanylAnalogue      0
Oxycodone             0
Oxymorphone           0
Ethanol               0
Hydrocodone           0
Benzodiazepine        0
Methadone             0
Amphet                0
Tramad                0
Morphine_NotHeroin    0
Hydromorphone         0
Other                 0
OpiateNOS             0
AnyOpioid             0
MannerofDeath         0
dtype: int64

In [50]:
#data.to_csv('clean_drug_data.csv', index=False)

In [51]:
data.columns

Index(['ID', 'Date', 'DateType', 'Age', 'Sex', 'Race', 'DeathCity',
       'DeathCounty', 'COD', 'Heroin', 'Cocaine', 'Fentanyl',
       'FentanylAnalogue', 'Oxycodone', 'Oxymorphone', 'Ethanol',
       'Hydrocodone', 'Benzodiazepine', 'Methadone', 'Amphet', 'Tramad',
       'Morphine_NotHeroin', 'Hydromorphone', 'Other', 'OpiateNOS',
       'AnyOpioid', 'MannerofDeath'],
      dtype='object')

In [52]:
conditions = [
    (data['Heroin'] == 'Yes'),
    (data['Cocaine'] == 'Yes'),
    (data['Fentanyl'] == 'Yes'),
    (data['FentanylAnalogue'] == 'Yes'),
    (data['Oxycodone'] == 'Yes'),
    (data['Oxymorphone'] == 'Yes'),
    (data['Ethanol'] == 'Yes'),
    (data['Hydrocodone'] == 'Yes'),
    (data['Benzodiazepine'] == 'Yes'),
    (data['Methadone'] == 'Yes'),
    (data['Amphet'] == 'Yes'),
    (data['Tramad'] == 'Yes'),
    (data['Morphine_NotHeroin'] == 'Yes'),
    (data['Hydromorphone'] == 'Yes'),]
choices = ['Heroin', 'Cocaine', 'Fentanyl', 'FentanylAnalogue', 'Oxycodone', 'Oxymorphone', 'Ethanol', 'Hydrocodone', 'Benzodiazepine', 
          'Methadone', 'Amphet', 'Tramad', 'Morphine_NotHeroin', 'Hydromorphone']
data['NamedDrug'] = np.select(conditions, choices, default='NULL')

In [53]:
data['NamedDrug'].unique()

array(['Fentanyl', 'Cocaine', 'Heroin', 'Oxycodone', 'Methadone',
       'Oxymorphone', 'NULL', 'Ethanol', 'Benzodiazepine', 'Hydrocodone',
       'Tramad', 'Amphet', 'Morphine_NotHeroin', 'FentanylAnalogue'],
      dtype=object)

In [54]:
print(data['NamedDrug'])

0       Fentanyl
1        Cocaine
2         Heroin
3         Heroin
4       Fentanyl
          ...
5100     Ethanol
5101      Heroin
5102      Heroin
5103    Fentanyl
5104      Heroin
Name: NamedDrug, Length: 5103, dtype: object

In [55]:
#data.to_csv('clean_drug_data.csv', index=False)

In [56]:
data.dtypes

ID                            object
Date                  datetime64[ns]
DateType                      object
Age                           object
Sex                           object
Race                          object
DeathCity                     object
DeathCounty                   object
COD                           object
Heroin                        object
Cocaine                       object
Fentanyl                      object
FentanylAnalogue              object
Oxycodone                     object
Oxymorphone                   object
Ethanol                       object
Hydrocodone                   object
Benzodiazepine                object
Methadone                     object
Amphet                        object
Tramad                        object
Morphine_NotHeroin            object
Hydromorphone                 object
Other                         object
OpiateNOS                     object
AnyOpioid                     object
MannerofDeath                 object
NamedDrug                     object
dtype: object

In [57]:
data['Age'] = data['Age'].astype('int64', errors='ignore')

In [58]:
df['Age'] = pd.to_numeric(df['Age'])

In [59]:
data.dtypes

ID                            object
Date                  datetime64[ns]
DateType                      object
Age                           object
Sex                           object
Race                          object
DeathCity                     object
DeathCounty                   object
COD                           object
Heroin                        object
Cocaine                       object
Fentanyl                      object
FentanylAnalogue              object
Oxycodone                     object
Oxymorphone                   object
Ethanol                       object
Hydrocodone                   object
Benzodiazepine                object
Methadone                     object
Amphet                        object
Tramad                        object
Morphine_NotHeroin            object
Hydromorphone                 object
Other                         object
OpiateNOS                     object
AnyOpioid                     object
MannerofDeath                 object
NamedDrug                     object
dtype: object

In [60]:
conditions = [
    (data['Age'] >= 10) & (data['Age'] <= 20),
    (data['Age'] >= 21) & (data['Age'] <= 30),
    (data['Age'] >= 31) & (data['Age'] <= 40),
    (data['Age'] >= 41) & (data['Age'] <= 50),
    (data['Age'] >= 51) & (data['Age'] <= 60),
    (data['Age'] >= 61) & (data['Age'] <= 70),
    (data['Age'] >= 71) & (data['Age'] <= 80),
    (data['Age'] >= 81)]
choices = ['Teens', 'Twenties', 'Thirties', 'Fourties', 'Fifties', 'Sixties', 'Seventies', 'Above 80']
df['AgeDecade'] = np.select(conditions, choices, default='Unknown')

TypeError: '>=' not supported between instances of 'str' and 'int'